@use 'vars' as v;

.hero {
    //Bakgrunder
    background-image: url('../images/asiahero2.png');
    background-size: cover;

    //Storlekar
    min-height: 90dvh;

    //Positionering
    position: relative;

    //Typewriter-text
    .hero-text {
        //Storlekar och position
        max-width: 14em;
        width: 70%;
        margin: auto;
        margin-top: 25dvh;

        //Text
        font-size: max(2.8dvw, 1.1em);
        color: v.$light;

        //Se ut som sökfält
        border-bottom: 2px solid v.$light;

        //Sökikon
        i {
            margin-right: 1em;
        }

        //Caret
        .typewriter::after {
            content: '|';
            animation: blink 1s infinite;
        }
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
