@use 'vars' as v;

/* Stilregler för /country/:id dvs detaljerna för land */

.country-page {
    //Flagga
    .cp-country-flag {
        font-size: 6em;
        text-align: center;
    }

    //Rubriker
    h3:not(.review h3) {
        margin-top: 1.4em;
    }

    //Ul
    ul {
        list-style-type: none;

        li span {
            font-style: italic;
        }
    }

    //Coat of arms
    img {
        width: 100%;
        max-width: 23em;
    }

    //Google maps-länk
    .google-maps {
        margin-top: 1em;
        display: block;
        color: v.$mediumdark;
        text-decoration: 2px dotted underline;

        &:hover {
            color: v.$salmon;
        }
    }
}
