@use 'vars' as v;

/* Stilregler för /reviews och /edit-review/:id */

//Leave a review-knapp
.review-cta-text {
    text-align: center;
    margin: 2em 0;

    //Länken
    .review-page.button {
        background-color: v.$mint;

        &:hover {
            background-color: v.$darkmint;
        }
    }
}

//Det var det haha
