@use './assets/static/scss/vars' as v;
@use './assets/static/scss/MediaQueries';

/* ALLMÄNNA REGLER */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    //Gällande typsnitt
    font-family: v.$regular;
    line-height: 1.6;

    //Gällande bredder
    width: 100%;
    max-width: 2800px;
    margin: auto;
    overflow-x: hidden;

    //Position
    position: relative;

    //Färger
    background-color: v.$light;
}

//Listor i menyer
nav ul li {
    list-style: none;
}

a,
i {
    text-decoration: none;
    @include v.transition;
}

//Input
input,
textarea,
select {
    font-family: v.$accent;
    font-size: 1em;
    padding: 0.7em 1.3em;
    background-color: white;
    color: black;
}

//Knappar
button,
input[type='submit'] {
    cursor: pointer;
    border: none;
    font-size: 1em; //För att gälla knappar också
    font-family: v.$regular;
    @include v.transition;
    font-weight: 400;
}
input[type='submit'] {
    display: block;
    padding: 1em 1.4em;
    margin-top: 2em;
    background-color: v.$mint;

    &:hover {
        background-color: v.$darkmint;
    }
}

//Bilder
img {
    width: 100%;
    display: block;
}

//Rubriker
h1,
h2,
h3 {
    font-weight: 400;
}

//Wrappers som innehåller typ allt textinnehåll
.content-wrapper {
    max-width: 50em;
    margin: auto;
    padding: 1.5em;

    h1,
    h2 {
        text-align: center;
    }

    //Bilder
    img {
        width: 100%;
        max-width: 25em;
        margin: 3em auto;
    }

    //Sökrutor
    .search-group {
        margin: 2em 0;

        label {
            margin-left: 1em;
        }

        .search-container {
            position: relative;

            input[type='search'] {
                width: 100%;
                padding-left: 2.5em;
                border: none;
                border-radius: 400px;

                &:focus {
                    outline: 1px solid v.$mediumdark;
                }
            }
        }

        //Ikonen
        i {
            position: absolute;
            left: 1em;
            top: 50%;
            transform: translateY(-50%);
            color: v.$mediumlight;
        }
    }
}

//Content-wrapper för login och register
.auth-wrapper {
    min-height: 70dvh;

    //Länkarna
    .link {
        margin-top: 1em;

        a {
            color: v.$mediumdark;
            text-decoration: 2px dotted underline;

            &:hover {
                color: v.$salmon;
            }
        }
    }
}

//Error och confirm-delete
.error,
.confirm-message {
    color: v.$salmon;
    margin: 1em 0 0;
}

/*  DELADE REGLER */

//Länkar som ska se ut som knappar
.button {
    padding: 0.5em 1em;
    margin-top: 1em;
    display: inline-block;
    color: white;
    border-radius: 10px;
    background-color: v.$mediumdark;

    &.green {
        background-color: v.$mint;

        &:hover {
            background-color: v.$darkmint;
        }
    }

    &.red {
        background-color: v.$salmon;

        &:hover {
            background-color: v.$darksalmon;
        }
    }

    &.blue {
        background-color: v.$mediumlight;

        &:hover {
            background-color: v.$mediumdark;
        }
    }
}

//Knappar som ska se ut som knapparna ovan
button.button {
    padding: 0.75em 1em;
}

//Pagination
.pagination {
    display: block;
    width: fit-content;
    margin: 2em auto 0;

    //Knapparna
    button {
        margin: 0.5em;
        border: none;

        &:hover {
            background-color: v.$mint;
        }
    }

    button:disabled {
        background-color: v.$mediumlight;
    }
}

//Footer
footer {
    //Bakgrund
    background-color: v.$dark;
    background-image: url('./assets/static/images/arrow2.png');
    background-size: 1em;
    background-repeat: repeat-x;

    //Fluff
    color: v.$light;
    padding: 2em;
    text-align: center;
    margin-top: 4em;

    //Länkarna + ikon
    .credits {
        a,
        i {
            display: block;
            font-size: 1.7em;
            margin: 1em;
            color: v.$mint;

            &:hover {
                color: v.$salmon;
            }
        }
    }
}

//Fetstilt
.bold-text {
    font-weight: 600;
}

/* RECENSIONER */
.review {
    margin-top: 1em;
    background-color: white;
    border-radius: 5px;
    padding: 1.5em;
    border-radius: 25px;

    //Användarnamn
    .username {
        color: v.$mediumlight;
    }

    //Betyg
    //Fylld stjärna
    .fa-solid.fa-star {
        color: v.$salmon;
    }
    .fa-regular.fa-star {
        color: v.$mediumdark;
    }

    //Flagga
    .country-flag {
        margin-right: 0.3em;
        font-size: 1.8em;
        position: relative;
        top: 0.1em;
    }

    //Textinnehåll
    .review-content {
        margin: 1em 0;
    }

    //Publiceringsdatum
    .published {
        color: v.$mediumlight;
        font-style: italic;
    }

    //Knappar (inloggad)
    .review-controls {
        //Delete
        .delete-review.button {
            padding: 0.75em 1em;
            background-color: v.$salmon;

            &:hover {
                background-color: v.$darksalmon;
            }
        }

        //Edit
        a.edit-review.button {
            margin-right: 2em;
        }
        .edit-review.button:hover {
            background-color: v.$mediumlight;
        }
    }
}

//Back to-länk
.back-link {
    color: v.$mediumdark;
    text-decoration: 2px dotted underline;

    &:hover {
        color: v.$salmon;
    }
}

/* FORMULÄR */
.form-group {
    label {
        margin: 1.5em 0 0.5em 1em;
        display: block;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    textarea,
    select {
        width: 100%;
        border: none;
        border-radius: 15px;
    }

    //Content
    textarea {
        min-height: 15em;
    }
}
